---
import Layout from '@/layouts/Layout.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Education from '@/components/sections/Education.astro';
import About from '@/components/sections/About.astro';
import Skills from '@/components/sections/Skills.astro';
import Projects from '@/components/sections/Projects.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import {basics} from '@cv';
const {name, label} = basics;

---

<Layout title={`Porfolio de ${name} - ${label}`}>
	<main>
		<Hero></Hero>
		<About></About>
		<Experience></Experience>
		<Projects></Projects>
		<Skills></Skills>
		<Education></Education>
	</main>
	<KeyboardManager></KeyboardManager>
</Layout>

<style>
	
</style>
